<footer class="footer"
    [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/registro' && getPath()!=='/login'}">

    <div class="container">
        <div class="align-items-center text-center">
            <div class="col-12">
                <div class="copyright text-center">
                    &copy; {{test | date: 'yyyy'}}
                    MASCOTAFELIZ - Hecho con <i class="fa fa-heart text-primary" aria-hidden="true"></i> por
                    <a href="https://github.com/jhondoncan" class="font-weight-bold text-black" target="_blank">Grupo
                        30</a>
                    - Equipo <a href="https://github.com/jhondoncan" class="font-weight-bold text-black"
                        target="_blank">FALCON
                        VII</a> 🚀 - MisiónTIC 2022 UTP
                </div>
            </div>
        </div>
    </div>
</footer>