<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">MascotaFeliz</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Mascotas</a></li>
            <li><a href="#">Planes</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Propectos</a></li>
            <li><a class="waves-effect waves-light btn">Cerrar sesión <i class="material-icons right">exit_to_app
                    </i></a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="#">Usuarios</a></li>
    <li><a href="#">Mascotas</a></li>
    <li><a href="#">Planes</a></li>
    <li><a href="#">Sucursales</a></li>
    <li><a href="#">Servicios</a></li>
    <li><a href="#">Propectos</a></li>

</ul>