<nav id="navbar-main"
    class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div class="container">
        <a class="navbar-brand mr-lg-5" [routerLink]="['/inicio']">
            <img src="./assets/img/brand/mascotafeliz.png">
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a [routerLink]="['/inicio']">
                            <img src="./assets/img/brand/mascotafeliz.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <li class="nav-item dropdown">
                    <a class="nav-link no-caret" data-toggle="dropdown" role="button">
                        <span class="nav-link-inner--text">Usuarios</span>
                    </a>
                    <div class="dropdown-menu">
                        <a [routerLink]="['/crear-usuario']" class="dropdown-item">Agregar
                            usuario</a>
                        <a [routerLink]="['/usuarios']" class="dropdown-item">Lista de
                            usuarios</a>


                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link no-caret" data-toggle="dropdown" role="button">

                        <span class="nav-link-inner--text">Mascotas</span>
                    </a>
                    <div class="dropdown-menu">

                        <a [routerLink]="['/crear-mascota']" class="dropdown-item">Agregar mascota</a>
                        <a [routerLink]="['/mascotas']" class="dropdown-item">Lista de mascotas</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link no-caret" data-toggle="dropdown" role="button">

                        <span class="nav-link-inner--text">Planes</span>
                    </a>
                    <div class="dropdown-menu">
                        <a [routerLink]="['/crear-plan']" class="dropdown-item">Aregar plan</a>
                        <a [routerLink]="['/planes']" class="dropdown-item">Lista de planes</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link no-caret" data-toggle="dropdown" role="button">

                        <span class="nav-link-inner--text">Sucursales</span>
                    </a>
                    <div class="dropdown-menu">
                        <a [routerLink]="['/crear-sucursal']" class="dropdown-item">Agregar sucural</a>
                        <a [routerLink]="['/sucursales']" class="dropdown-item">Lista de sucursales</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link no-caret" data-toggle="dropdown" role="button">

                        <span class="nav-link-inner--text">Prospectos</span>
                    </a>
                    <div class="dropdown-menu">
                        <a [routerLink]="['/contacto']" class="dropdown-item">Crear prospecto</a>
                        <a [routerLink]="['/prospectos']" class="dropdown-item">Lista de prospectos</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a [routerLink]="['/contacto']" class="nav-link no-caret" data-toggle="dropdown" role="button">
                        <span class="nav-link-inner--text">Contáctanos</span>
                    </a>

                </li>
            </ul>
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                <li class="nav-item d-none d-lg-block ml-lg-4">


                    <a [routerLink]="['/login']" class="btn btn-neutral btn-icon">
                        <!--  <span class="btn-inner--icon">
              <i class="fa fa-user-plus mr-2"></i>
            </span> -->
                        <span class="nav-link-inner--text">Cerrar sesión</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>