<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <img src="./assets/img/brand/mascotafeliz.png" style="width: 1000px;" class="img-fluid">
                            <h1 class="lead text-white text-uppercase"> <strong> Medicina prepagada para tu
                                    mascota</strong></h1>
                            <div class="btn-wrapper mt-5">
                                <a [routerLink]="['/registro']" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="fa fa-paw"></i></span>
                                    <span class="btn-inner--text">Regístrate</span>
                                </a>
                                <a [routerLink]="['/contacto']" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon text-white"><i class="fa fa-envelope"></i></span>
                                    <span class="btn-inner--text text-white">
                                        Contáctanos</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid">
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0 text-center ">
                                <div class="card-body py-5">
                                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                                        <i class="fa fa-hospital-o"></i>
                                    </div>
                                    <h6 class="text-primary text-uppercase"><strong>Consulta externa</strong></h6>
                                    <p class="description mt-3">El veterinario revisa los principales órganos de la
                                        mascota, cambios importantes en el estado
                                        de la mascota.</p>
                                    <!--   <div>
                                        <span class="badge badge-pill badge-primary">angular</span>
                                        <span class="badge badge-pill badge-primary">ng-bootstrap</span>
                                        <span class="badge badge-pill badge-primary">creative</span>
                                    </div> -->
                                    <a [routerLink]="['/contacto']" class="btn btn-primary mt-4">Más información</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0 text-center">
                                <div class="card-body py-5">
                                    <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                                        <i class="ni ni-atom"></i>
                                    </div>
                                    <h6 class="text-success text-uppercase"><strong>Radiografías</strong></h6>
                                    <p class="description mt-3">La radiología veterinaria es una técnica por la cual se
                                        realizan diversos diagnósticos a animales con algún tipo de
                                        patología.</p>

                                    <a [routerLink]="['/contacto']" class="btn btn-success mt-4">Más información</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0 text-center">
                                <div class="card-body py-5">
                                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                                        <i class="fa fa-heartbeat"></i>
                                    </div>
                                    <h6 class="text-warning text-uppercase"><strong>Esterilización</strong></h6>
                                    <p class="description mt-3">Procedimiento médico veterinario
                                        por medio del cual se extraen los órganos reproductores de las
                                        mascotas.</p>
                                    <!--  <div>
                                        <span class="badge badge-pill badge-warning">marketing</span>
                                        <span class="badge badge-pill badge-warning">product</span>
                                        <span class="badge badge-pill badge-warning">launch</span>
                                    </div> -->
                                    <a [routerLink]="['/contacto']" class="btn btn-warning mt-4">Más información</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-md-6 order-md-2">
                    <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="pr-md-5">
                        <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
                            <i class="fa fa-paw"></i>
                        </div>
                        <h3><strong>Nuestras principales características</strong> </h3>

                        <ul class="list-unstyled mt-5">
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-success mr-3">
                                            <i class="fa fa-user-md"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-0">Médicos veterinarios profesionales</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-success mr-3">
                                            <i class="fa fa-hospital-o"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-0">Servicio clínico las 24 horas al día</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-success mr-3">
                                            <i class="fa fa-ambulance"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-0">Visita veterinaria domiciliaria</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="badge badge-circle badge-success mr-3">
                                            <i class="fa fa-heartbeat"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-0">Equipo de apoyo muy amigable</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-secondary">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-md-6">
                    <div class="card bg-default shadow border-0">
                        <img src="./assets/img/theme/img-1-1200x1000.jpg" class="card-img-top">
                        <blockquote class="card-blockquote ">
                            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                                class="svg-bg">
                                <polygon points="0,52 583,95 0,95" class="fill-default" />
                                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                            </svg>
                            <h4 class="display-3 font-weight-bold text-white text-center">Equipo profesional</h4>
                            <p class="lead text-italic text-white">Nuestros médicos veterinarios cuentan con una amplia
                                experiencia para brindarle a tu peludito el servicio y atención.</p>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-default shadow border-0">
                        <img src="./assets/img/theme/img-2.jpg" class="card-img-top">
                        <blockquote class="card-blockquote ">
                            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                                class="svg-bg">
                                <polygon points="0,52 583,95 0,95" class="fill-default" />
                                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                            </svg>
                            <h4 class="display-3 font-weight-bold text-white text-center">Clínicas veterinarias</h4>
                            <p class="lead text-italic text-white">Contamos con la mejor infraestructura y tecnología en
                                nuestras sedes para un mejor diagnóstico y tratamiento.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-0 bg-gradient-mascota">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-md-6 order-lg-2 ml-lg-auto">
                    <div class="position-relative pl-md-5">
                        <img src="./assets/img/ill/ill-3.svg" class="img-center img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">

                    <div class="card shadow shadow-lg--hover mt-5">
                        <div class="card-body">
                            <div class="d-flex px-3">
                                <div>
                                    <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                                        <i class="fa fa-bookmark"></i>
                                    </div>
                                </div>
                                <div class="pl-4">
                                    <h5 class="title text-success text-uppercase"><strong>Nuestra misión</strong></h5>
                                    <p> La clínica veterinaria <strong>MASCOTAFELIZ</strong> tiene como misión ofrecer
                                        bienestar a cada
                                        una de nuestras mascotas, que sus familias
                                        entiendan los deberes y los derechos que tienen las mascotas desde el instante
                                        que entran a formar parte de sus vidas.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow shadow-lg--hover mt-5">
                        <div class="card-body">
                            <div class="d-flex px-3">
                                <div>
                                    <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                                        <i class="fa fa-bookmark"></i>
                                    </div>
                                </div>
                                <div class="pl-4">
                                    <h5 class="title text-warning text-uppercase"> <strong>Nuestra visión</strong></h5>
                                    <p> La clínica veterinaria <strong>MASCOTAFELIZ</strong> tiene como visión ser una
                                        empresa sólida,
                                        líder en prestación de servicios médicos
                                        veterinarios de la mejor calidad y profesionalismo, con énfasis en animales de
                                        compañía. </p>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <!-- <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div> -->
    </section>

    <section class="section section-lg pt-6">
        <div class="container">
            <div class="card bg-gradient-primary shadow-lg border-0">
                <div class="p-5">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <h3 class="text-white text-uppercase"><strong>¿Deseas más información acerca de nuestros
                                    servicios?</strong>
                            </h3>
                            <p class="lead text-white mt-3">Haznos saber tu pregunta y uno de nuestros asesores se
                                contactará contigo para brindarte más información sobre nuestros
                                planes y servicios.</p>
                        </div>
                        <div class="col-lg-3 ml-lg-auto">
                            <a [routerLink]="['/contacto']" class="btn btn-lg btn-block btn-white">Contáctanos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section section-lg bg-gradient-default">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-10">
                    <h2 class="display-3 text-white text-uppercase">Otros servicios</h2>
                    <p class="lead text-white">Tenemos un amplio catálogo de productos y servicios para la atención,
                        cuidado, prevención, diagnóstico y tratamiento de
                        tu mascota.</p>
                </div>
            </div>
            <div class="row row-grid mt-5 text-center align-items-center">
                <div class="col-lg-4">
                    <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                        <i class="fa fa-user-md text-primary"></i>
                    </div>
                    <h5 class="text-white mt-3 text-uppercase">Inyectología</h5>
                    <p class="text-white mt-3">Vacunas Puppy, Penta, Rabia, Moquillo, Hepatitis infecciosa, Parvovirus,
                        Leptospira, Parainfluenza, Pentavalente.</p>
                </div>
                <div class="col-lg-4">
                    <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                        <i class="fa fa-smile-o text-primary"></i>
                    </div>
                    <h5 class="text-white mt-3 text-uppercase">Higiene oral</h5>
                    <p class="text-white mt-3">El buen estado de la dentadura de las mascotas es fundamental para su
                        salud y para que pueda desarrollar una vida plena.</p>
                </div>
                <div class="col-lg-4">
                    <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                        <i class="fa fa-bath text-primary"></i>
                    </div>
                    <h5 class="text-white mt-3 text-uppercase">Duchas felices</h5>
                    <p class="text-white mt-3">Bañar a tus mascotas es esencial para proteger la salud,
                        cuidar su piel y su pelo, mantenerlo limpio y alejado de parásitos.</p>
                </div>
            </div>
        </div>

    </section>






</main>